<section>
  <div class="row row-cols-1 row-cols-md-2 g-2">
    <div class="col c1" *ngFor="let comicBook of comicData">
      <div class="card"  >
        <img src="{{comicBook.img}}" class="card-img-top" alt="{{comicBook.comicBookaname}}">
        <div class="card-body">
          <h5 class=" c3 card-title">{{comicBook.comicBookname}}</h5>
          Writer: {{comicBook.Writer}} <br>
          number of pages:{{comicBook.nb}} <br>
           <button (click)="viewcomicBook(comicBook)" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-success"> view detail</button>
          <button (click)="onEdit(comicBook)" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success"*ngIf="user=='admin'">EDIT</button>
          <button>add to Cart </button> <button (click)="deletecomicBook(comicBook)" *ngIf="user=='admin'"> delete</button>
        </div>
      </div>
    </div>
  </div>
  </section>
  <button type="button" (click)="clickAddcomicBook()" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success" *ngIf="user=='admin'"> ADD BOOK</button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">comicBook NAME</label>
              <input type="text" formControlName="comicBookname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Writer</label>
              <input type="text"formControlName="Writer" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">number of pages</label>
              <input type="text" formControlName="nb"class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">image</label>
              <input type="text"formControlName="img" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">qt</label>
              <input type="text" formControlName="qt"class="form-control" id="exampleInputPassword1">
            </div>
          
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">new ?</label>
              <input type="text" formControlName="newz" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postcomicBookDetails()"  class="btn btn-primary" >ADD comic book</button>
          <button type="button" *ngIf="showUpdate" (click)="updatecomicBook()"  class="btn btn-primary">update</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Comic Book NAME</label>
                      <input type="text" formControlName="comicBookname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      
                    </div>
                    <label for="exampleInputEmail1" class="form-label">price</label>
                    <input type="text" formControlName="price" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <label for="exampleInputEmail1" class="form-label">Writer </label>
                    <br><input type="text" formControlName="Writer" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <label for="exampleInputEmail1" class="form-label">number of pages</label>
                     <br> <input type="text" formControlName="nb" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                     <label for="exampleInputEmail1" class="form-label">unviverse</label>
                     <br> <input type="text" formControlName="unviverse" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                     
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
        </div>
      </div>
    </div>
  </div>